#root
{
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: #262626;
    
    -fx-font-family: "Arial";   
}

.label
{
    -fx-text-fill: #CFCFCF;
}

#titleBar
{
    -fx-background-color: linear-gradient(#1c2732, #262626);
}

#titleBar > .label
{
    -fx-text-fill: #E2E2E2;
}

#btn_close
{
    -fx-font-size: 12px;
    -fx-text-fill: #AFADAD;
    
    -fx-background-color: transparent;
}

#btn_close:hover
{
    -fx-text-fill: #F1F1F1;
}

.steam_button
{
	-fx-font-size: 10px;
	-fx-alignment: CENTER-LEFT;
	
	-fx-border-color: #706D69;
	
	-fx-background-color: linear-gradient(#5C5956, #4A4846);
	-fx-background-radius: 2;
	-fx-border-radius: 2;
}

.steam_button:hover
{
	-fx-border-color: #99938d;
	-fx-background-color: linear-gradient(#696663, #4b4947);
}

.steam_textfield
{
	-fx-border-color: #99938d;
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	
	-fx-background-color: #393736;	
}